body{
    margin: 0;
    font-family: sans-serif;

}

.header__img{
  
        width: 100%;
        height: 100%;
        object-fit: contain;
      
}

.section{
    background: #ffff;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 10 rem auto 0 auto;

}

.section1{
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 10 rem auto 0 auto;
}

.section1 h2{
    margin: 0;
}

.section1 img{
    height: 250px;
}

.section1 p{
    color: black;
    margin-right: 15px;
}

.section h2{
    margin: 0;
}

.section img{
    height: 250px;
}

.section p{
    color: black;
    margin-right: 15px;
}