@use "../../../scss/abstract/mixins";
.banner{
    width: 100%;
    height: 35vw;

        &__bg{
            background-image: url("../img/Op-de-markt.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            @include mixins.flexCenter;
            align-items: flex-start;
            justify-content: flex-end;
            padding: 4rem;

        }

        &__bg2{
            background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url("../img/Aan-de-wandel.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            @include mixins.flexCenter;
            padding: 4rem;

        }

        &__bg3{
            background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url("../img/agenda.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            @include mixins.flexCenter;
            padding: 4rem;

        }

        &__title{
            font-size: 400%;
            color: #eee;
        }

        &__button{
            background: none;
            border: none;
            font-size: 2rem;
            color: #eee;
            background: linear-gradient(to right,#b5d43bd0, 80%, #a7c62ccf );
            border-radius: 0.2rem;
            padding: 1.5rem 2rem;

            &:hover{
                background: linear-gradient(to right,#c6e840d0, 80%, #c5e934cf );
                cursor: pointer;
            }
        }
}

    